# Sorting and Filtering Data in DataFrames and Series: Boolean Masking

In [ ]:
"""
                            FILTERING
--> To filter, we can use "boolean masking".
    --> This works similarly to Numpy and Series masking
    --> We create a boolean array and apply the mask to a dataframe by using loc or iloc.
        e.g mask = df['col'] >= 0
            df[mask]        
            
                SORTING: df.sort_index(ascending=, ), df.sort_values(ascending=, 'col_name')
--> df.sort_index() : allows us to sort rows based on the row index labels
--> df.sort_values('column_name') : allows us to sort rows based on values in a column.
--> Similarly to python's sorted() function, we can use a "key" argument.
    --> e.g l = ['Z', 'a', 'b']
            sorted(l, key=lambda x: x.casefold())
    --> recall that key is a function that transforms each element of l, one by one.
--> The key argument for DataFrames is the same. We can sort by an associated series of keys.
    --> Instead of using a function that generates the keys one by one, we specify a vectorized function to generate the sequence of sort keys all at once.
    --> The key function receives a Series as its argument. It should return a Series object with the same shape.
    e.g s = pd.Series([1, -1, 2, -2])
    key = np.abs(s) 
--> The key can also be a "vectorized" custom function or "vectorized" lambda expression, e.g
    --> def sort_func(series_of_index):
            return series_of_index.str.casefold()
        df.sort_index(key=sort_func)
    --> df.sort_index(key=lambda idx: idx.str.casefold())
    
                    SORT BY VALUES: df.sort_values(ascending=,)
--> We can sort by values using df.sort_values(ascending=)
    --> It is basically the same as sorting by index, except we can use some specified column instead of index.
--> We can sort by values with a key argument as well. 
    --> Here, the key function received the sort by column (Series) as its argument.
    --> df.sort_values(ascending=, 'c1', key=lambda col: np.abs(col))
        Note that the key function receives column c1 as its argument and returns a new series.
        
                    SORTING ON MULTIPLE COLUMNS
--> df.sort_values([column_name, another_column_name, another_name])
--> We can specify a multi-level sort based on multiple columns.
    --> df.sort_values(columns=['c1', 'c2'], ascending=[True, True]) sorts on c1 then c2.
"""

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('populations.csv')
df.info()

In [ ]:
df.head()

In [ ]:
data = df.set_index('Geographic Area')
data.head()

In [ ]:
mask = df['July 1, 2001 Estimate'] < 3_000_000

In [ ]:
less_than3M = df.loc[mask]

In [ ]:
data.iloc[:, 0] < 3_000_000

In [ ]:
mask = data['July 1, 2001 Estimate'] < 3_000_000
data[mask]

In [ ]:
data.sort_index(axis=0)

In [ ]:
data.sort_index(axis=1)

In [ ]:
s = pd.Series([10, 20, 30, 40], index=['Z', 'y', 'x', 'w'])
print(s)

In [ ]:
s.sort_index()

In [ ]:
s.sort_index(key=lambda x: x.str.casefold())

In [ ]:
l = ['Z', 'y', 'x', 'w']
sorted(l)

In [ ]:
sorted(l, key=lambda x:x.casefold()) # key function works on lists element by element

In [ ]:
s.index.str.casefold()

In [ ]:
s.index.str.len()

In [ ]:
s.sort_index(key=lambda ind:ind.str.casefold())

In [ ]:
s = pd.Series(list('abcdef'), index=[-1, -3, -5, 0, 2, 4])
print(s)

In [25]:
s.sort_index()

-5    c
-3    b
-1    a
 0    d
 2    e
 4    f
dtype: object

In [28]:
s.sort_index(key=lambda idx: np.abs(idx))

 0    d
-1    a
 2    e
-3    b
 4    f
-5    c
dtype: object

In [30]:
np.abs(s.index)

Int64Index([1, 3, 5, 0, 2, 4], dtype='int64')

In [31]:
data[:5]

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
United States,284796887,282124631,281421906
Alabama,4464356,4451493,4447100
Alaska,634892,627601,626932
Arizona,5307331,5165274,5130632
Arkansas,2692090,2678030,2673400

In [32]:
data.sort_index(key=lambda idx: idx.str.casefold())

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
Alabama,4464356,4451493,4447100
Alaska,634892,627601,626932
Arizona,5307331,5165274,5130632
Arkansas,2692090,2678030,2673400
California,34501130,34000446,33871648
Colorado,4417714,4323410,4301261
Connecticut,3425074,3410079,3405565
Delaware,796165,786234,783600
District of Columbia,571822,571066,572059
Florida,16396515,16054328,15982378
Georgia,8383915,8229823,8186453
Hawaii,1224398,1212281,1211537
Idaho,1321006,1299258,1293953
Illinois,12482301,12435970,12419293
Indiana,6114745,6089950,6080485
Iowa,2923179,2927509,2926324
Kansas,2694641,2691750,2688418
Kentucky,4065556,4047424,4041769
Louisiana,4465430,4469970,4468976
Maine,1286670,1276961,1274923
Maryland,5375156,5310908,5296486
Massachusetts,6379304,6357072,6349097
Michigan,9990817,9952006,9938444
Minnesota,4972294,4931093,4919479
Mississippi,2858029,2849100,2844658
Missouri,5629707,5603553,5595211
Montana,904433,903157,902195
Nebraska,1713235,1712577,1711263
Nevada,2106074,2018723,1998257
New Hampshire,1259181,1239881,1235786
New Jersey,8484431,8429007,8414350
New Mexico,1829146,1821282,1819046
New York,19011378,18989332,18976457
North Carolina,8186268,8077367,8049313
North Dakota,634448,640919,642200
Ohio,11373541,11359955,11353140
Oklahoma,3460097,3453250,3450654
Oregon,3472867,3429293,3421399
Pennsylvania,12287150,12282591,12281054
Rhode Island,1058920,1050236,1048319
South Carolina,4063011,4023438,4012012
South Dakota,756600,755509,754844
Tennessee,5740021,5702027,5689283
Texas,21325018,20946503,20851820
United States,284796887,282124631,281421906
Utah,2269789,2241555,2233169
Vermont,613090,609709,608827
Virginia,7187734,7104016,7078515
Washington,5987973,5908372,5894121
West Virginia,1801916,1807099,1808344
Wisconsin,5401906,5372243,5363675
Wyoming,494423,494001,493782

In [34]:
data.sort_index()

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
Alabama,4464356,4451493,4447100
Alaska,634892,627601,626932
Arizona,5307331,5165274,5130632
Arkansas,2692090,2678030,2673400
California,34501130,34000446,33871648
Colorado,4417714,4323410,4301261
Connecticut,3425074,3410079,3405565
Delaware,796165,786234,783600
District of Columbia,571822,571066,572059
Florida,16396515,16054328,15982378
Georgia,8383915,8229823,8186453
Hawaii,1224398,1212281,1211537
Idaho,1321006,1299258,1293953
Illinois,12482301,12435970,12419293
Indiana,6114745,6089950,6080485
Iowa,2923179,2927509,2926324
Kansas,2694641,2691750,2688418
Kentucky,4065556,4047424,4041769
Louisiana,4465430,4469970,4468976
Maine,1286670,1276961,1274923
Maryland,5375156,5310908,5296486
Massachusetts,6379304,6357072,6349097
Michigan,9990817,9952006,9938444
Minnesota,4972294,4931093,4919479
Mississippi,2858029,2849100,2844658
Missouri,5629707,5603553,5595211
Montana,904433,903157,902195
Nebraska,1713235,1712577,1711263
Nevada,2106074,2018723,1998257
New Hampshire,1259181,1239881,1235786
New Jersey,8484431,8429007,8414350
New Mexico,1829146,1821282,1819046
New York,19011378,18989332,18976457
North Carolina,8186268,8077367,8049313
North Dakota,634448,640919,642200
Ohio,11373541,11359955,11353140
Oklahoma,3460097,3453250,3450654
Oregon,3472867,3429293,3421399
Pennsylvania,12287150,12282591,12281054
Rhode Island,1058920,1050236,1048319
South Carolina,4063011,4023438,4012012
South Dakota,756600,755509,754844
Tennessee,5740021,5702027,5689283
Texas,21325018,20946503,20851820
United States,284796887,282124631,281421906
Utah,2269789,2241555,2233169
Vermont,613090,609709,608827
Virginia,7187734,7104016,7078515
Washington,5987973,5908372,5894121
West Virginia,1801916,1807099,1808344
Wisconsin,5401906,5372243,5363675
Wyoming,494423,494001,493782

In [35]:
data.sort_index(key=lambda idx: idx.str.casefold())

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
Alabama,4464356,4451493,4447100
Alaska,634892,627601,626932
Arizona,5307331,5165274,5130632
Arkansas,2692090,2678030,2673400
California,34501130,34000446,33871648
Colorado,4417714,4323410,4301261
Connecticut,3425074,3410079,3405565
Delaware,796165,786234,783600
District of Columbia,571822,571066,572059
Florida,16396515,16054328,15982378
Georgia,8383915,8229823,8186453
Hawaii,1224398,1212281,1211537
Idaho,1321006,1299258,1293953
Illinois,12482301,12435970,12419293
Indiana,6114745,6089950,6080485
Iowa,2923179,2927509,2926324
Kansas,2694641,2691750,2688418
Kentucky,4065556,4047424,4041769
Louisiana,4465430,4469970,4468976
Maine,1286670,1276961,1274923
Maryland,5375156,5310908,5296486
Massachusetts,6379304,6357072,6349097
Michigan,9990817,9952006,9938444
Minnesota,4972294,4931093,4919479
Mississippi,2858029,2849100,2844658
Missouri,5629707,5603553,5595211
Montana,904433,903157,902195
Nebraska,1713235,1712577,1711263
Nevada,2106074,2018723,1998257
New Hampshire,1259181,1239881,1235786
New Jersey,8484431,8429007,8414350
New Mexico,1829146,1821282,1819046
New York,19011378,18989332,18976457
North Carolina,8186268,8077367,8049313
North Dakota,634448,640919,642200
Ohio,11373541,11359955,11353140
Oklahoma,3460097,3453250,3450654
Oregon,3472867,3429293,3421399
Pennsylvania,12287150,12282591,12281054
Rhode Island,1058920,1050236,1048319
South Carolina,4063011,4023438,4012012
South Dakota,756600,755509,754844
Tennessee,5740021,5702027,5689283
Texas,21325018,20946503,20851820
United States,284796887,282124631,281421906
Utah,2269789,2241555,2233169
Vermont,613090,609709,608827
Virginia,7187734,7104016,7078515
Washington,5987973,5908372,5894121
West Virginia,1801916,1807099,1808344
Wisconsin,5401906,5372243,5363675
Wyoming,494423,494001,493782

In [36]:
data.sort_index(key=lambda idx: idx.str.len())

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
Ohio,11373541,11359955,11353140
Utah,2269789,2241555,2233169
Iowa,2923179,2927509,2926324
Texas,21325018,20946503,20851820
Maine,1286670,1276961,1274923
Idaho,1321006,1299258,1293953
Oregon,3472867,3429293,3421399
Alaska,634892,627601,626932
Nevada,2106074,2018723,1998257
Kansas,2694641,2691750,2688418
Hawaii,1224398,1212281,1211537
Montana,904433,903157,902195
Vermont,613090,609709,608827
Indiana,6114745,6089950,6080485
Wyoming,494423,494001,493782
Georgia,8383915,8229823,8186453
Florida,16396515,16054328,15982378
Alabama,4464356,4451493,4447100
Arizona,5307331,5165274,5130632
New York,19011378,18989332,18976457
Arkansas,2692090,2678030,2673400
Nebraska,1713235,1712577,1711263
Colorado,4417714,4323410,4301261
Illinois,12482301,12435970,12419293
Missouri,5629707,5603553,5595211
Michigan,9990817,9952006,9938444
Maryland,5375156,5310908,5296486
Delaware,796165,786234,783600
Oklahoma,3460097,3453250,3450654
Kentucky,4065556,4047424,4041769
Virginia,7187734,7104016,7078515
Wisconsin,5401906,5372243,5363675
Tennessee,5740021,5702027,5689283
Minnesota,4972294,4931093,4919479
Louisiana,4465430,4469970,4468976
Washington,5987973,5908372,5894121
California,34501130,34000446,33871648
New Jersey,8484431,8429007,8414350
New Mexico,1829146,1821282,1819046
Mississippi,2858029,2849100,2844658
Connecticut,3425074,3410079,3405565
Rhode Island,1058920,1050236,1048319
South Dakota,756600,755509,754844
North Dakota,634448,640919,642200
Pennsylvania,12287150,12282591,12281054
New Hampshire,1259181,1239881,1235786
Massachusetts,6379304,6357072,6349097
West Virginia,1801916,1807099,1808344
United States,284796887,282124631,281421906
South Carolina,4063011,4023438,4012012
North Carolina,8186268,8077367,8049313
District of Columbia,571822,571066,572059

In [37]:
data.sort_index(key=lambda idx: idx.str.len(), ascending=False)

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
District of Columbia,571822,571066,572059
North Carolina,8186268,8077367,8049313
South Carolina,4063011,4023438,4012012
United States,284796887,282124631,281421906
Massachusetts,6379304,6357072,6349097
West Virginia,1801916,1807099,1808344
New Hampshire,1259181,1239881,1235786
South Dakota,756600,755509,754844
North Dakota,634448,640919,642200
Pennsylvania,12287150,12282591,12281054
Rhode Island,1058920,1050236,1048319
Mississippi,2858029,2849100,2844658
Connecticut,3425074,3410079,3405565
California,34501130,34000446,33871648
New Mexico,1829146,1821282,1819046
New Jersey,8484431,8429007,8414350
Washington,5987973,5908372,5894121
Tennessee,5740021,5702027,5689283
Louisiana,4465430,4469970,4468976
Wisconsin,5401906,5372243,5363675
Minnesota,4972294,4931093,4919479
Oklahoma,3460097,3453250,3450654
Virginia,7187734,7104016,7078515
New York,19011378,18989332,18976457
Nebraska,1713235,1712577,1711263
Missouri,5629707,5603553,5595211
Michigan,9990817,9952006,9938444
Maryland,5375156,5310908,5296486
Arkansas,2692090,2678030,2673400
Kentucky,4065556,4047424,4041769
Colorado,4417714,4323410,4301261
Delaware,796165,786234,783600
Illinois,12482301,12435970,12419293
Alabama,4464356,4451493,4447100
Montana,904433,903157,902195
Arizona,5307331,5165274,5130632
Vermont,613090,609709,608827
Florida,16396515,16054328,15982378
Georgia,8383915,8229823,8186453
Wyoming,494423,494001,493782
Indiana,6114745,6089950,6080485
Hawaii,1224398,1212281,1211537
Oregon,3472867,3429293,3421399
Kansas,2694641,2691750,2688418
Nevada,2106074,2018723,1998257
Alaska,634892,627601,626932
Texas,21325018,20946503,20851820
Maine,1286670,1276961,1274923
Idaho,1321006,1299258,1293953
Ohio,11373541,11359955,11353140
Utah,2269789,2241555,2233169
Iowa,2923179,2927509,2926324

In [39]:
data.sort_values(by=['July 1, 2001 Estimate'], ascending=False)

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
United States,284796887,282124631,281421906
California,34501130,34000446,33871648
Texas,21325018,20946503,20851820
New York,19011378,18989332,18976457
Florida,16396515,16054328,15982378
Illinois,12482301,12435970,12419293
Pennsylvania,12287150,12282591,12281054
Ohio,11373541,11359955,11353140
Michigan,9990817,9952006,9938444
New Jersey,8484431,8429007,8414350
Georgia,8383915,8229823,8186453
North Carolina,8186268,8077367,8049313
Virginia,7187734,7104016,7078515
Massachusetts,6379304,6357072,6349097
Indiana,6114745,6089950,6080485
Washington,5987973,5908372,5894121
Tennessee,5740021,5702027,5689283
Missouri,5629707,5603553,5595211
Wisconsin,5401906,5372243,5363675
Maryland,5375156,5310908,5296486
Arizona,5307331,5165274,5130632
Minnesota,4972294,4931093,4919479
Louisiana,4465430,4469970,4468976
Alabama,4464356,4451493,4447100
Colorado,4417714,4323410,4301261
Kentucky,4065556,4047424,4041769
South Carolina,4063011,4023438,4012012
Oregon,3472867,3429293,3421399
Oklahoma,3460097,3453250,3450654
Connecticut,3425074,3410079,3405565
Iowa,2923179,2927509,2926324
Mississippi,2858029,2849100,2844658
Kansas,2694641,2691750,2688418
Arkansas,2692090,2678030,2673400
Utah,2269789,2241555,2233169
Nevada,2106074,2018723,1998257
New Mexico,1829146,1821282,1819046
West Virginia,1801916,1807099,1808344
Nebraska,1713235,1712577,1711263
Idaho,1321006,1299258,1293953
Maine,1286670,1276961,1274923
New Hampshire,1259181,1239881,1235786
Hawaii,1224398,1212281,1211537
Rhode Island,1058920,1050236,1048319
Montana,904433,903157,902195
Delaware,796165,786234,783600
South Dakota,756600,755509,754844
Alaska,634892,627601,626932
North Dakota,634448,640919,642200
Vermont,613090,609709,608827
District of Columbia,571822,571066,572059
Wyoming,494423,494001,493782

In [41]:
df = pd.read_csv('world_bank_countries.csv')
df.head()

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011.0,2013.0,2006.0
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,NaN,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",NaN,NaN,2010.0,2013.0,2001.0
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS,...,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 31 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   CountryCode                                 247 non-null    object
 1   ShortName                                   247 non-null    object
 2   TableName                                   247 non-null    object
 3   LongName                                    247 non-null    object
 4   Alpha2Code                                  244 non-null    object
 5   CurrencyUnit                                214 non-null    object
 6   SpecialNotes                                164 non-null    object
 7   Region                                      214 non-null    object
 8   IncomeGroup                                 214 non-null    object
 9   Wb2Code                                     246 non-null    object
 10  NationalAccountsBaseYear                    205 non-null    object
 11  NationalAccountsReferenceYear               54 non-null     object
 12  SnaPriceValuation                           198 non-null    object
 13  LendingCategory                             144 non-null    object
 14  OtherGroups                                 59 non-null     object
 15  SystemOfNationalAccounts                    214 non-null    object
 16  AlternativeConversionFactor                 47 non-null     object
 17  PppSurveyYear                               191 non-null    object
 18  BalanceOfPaymentsManualInUse                181 non-null    object
 19  ExternalDebtReportingStatus                 124 non-null    object
 20  SystemOfTrade                               200 non-null    object
 21  GovernmentAccountingConcept                 161 non-null    object
 22  ImfDataDisseminationStandard                183 non-null    object
 23  LatestPopulationCensus                      213 non-null    object
 24  LatestHouseholdSurvey                       147 non-null    object
 25  SourceOfMostRecentIncomeAndExpenditureData  158 non-null    object
 26  VitalRegistrationComplete                   112 non-null    object
 27  LatestAgriculturalCensus                    142 non-null    object
 28  LatestIndustrialData                        113 non-null    float64
 29  LatestTradeData                             186 non-null    float64
 30  LatestWaterWithdrawalData                   180 non-null    float64
dtypes: float64(3), object(28)
memory usage: 59.9+ KB

In [46]:
data = df[['ShortName', 'Region', 'CountryCode','CurrencyUnit']]
data.head()

        ShortName                      Region CountryCode    CurrencyUnit
0     Afghanistan                  South Asia         AFG  Afghan afghani
1         Albania       Europe & Central Asia         ALB    Albanian lek
2         Algeria  Middle East & North Africa         DZA  Algerian dinar
3  American Samoa         East Asia & Pacific         ASM     U.S. dollar
4         Andorra       Europe & Central Asia         ADO            Euro

In [48]:
df = pd.read_csv('world_bank_countries.csv', 
                 usecols=[0, 1, 5, 7],
                 names=['code', 'name', 'currency', 'region'],
                 header=0)

In [49]:
print(df)

    code                name            currency                      region
0    AFG         Afghanistan      Afghan afghani                  South Asia
1    ALB             Albania        Albanian lek       Europe & Central Asia
2    DZA             Algeria      Algerian dinar  Middle East & North Africa
3    ASM      American Samoa         U.S. dollar         East Asia & Pacific
4    ADO             Andorra                Euro       Europe & Central Asia
..   ...                 ...                 ...                         ...
242  WBG  West Bank and Gaza  Israeli new shekel  Middle East & North Africa
243  WLD               World                 NaN                         NaN
244  YEM               Yemen         Yemeni rial  Middle East & North Africa
245  ZMB              Zambia  New Zambian kwacha          Sub-Saharan Africa
246  ZWE            Zimbabwe         U.S. dollar          Sub-Saharan Africa

[247 rows x 4 columns]

In [50]:
df[['region', 'code', 'name', 'currency']]

                         region code                name            currency
0                    South Asia  AFG         Afghanistan      Afghan afghani
1         Europe & Central Asia  ALB             Albania        Albanian lek
2    Middle East & North Africa  DZA             Algeria      Algerian dinar
3           East Asia & Pacific  ASM      American Samoa         U.S. dollar
4         Europe & Central Asia  ADO             Andorra                Euro
..                          ...  ...                 ...                 ...
242  Middle East & North Africa  WBG  West Bank and Gaza  Israeli new shekel
243                         NaN  WLD               World                 NaN
244  Middle East & North Africa  YEM               Yemen         Yemeni rial
245          Sub-Saharan Africa  ZMB              Zambia  New Zambian kwacha
246          Sub-Saharan Africa  ZWE            Zimbabwe         U.S. dollar

[247 rows x 4 columns]

In [51]:
df = pd.read_csv('world_bank_countries.csv',
                 usecols=[0, 1, 5, 7],
                 names=['code', 'name', 'currency', 'region'],
                 header=0)[['region', 'code', 'name', 'currency']]

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   region    214 non-null    object
 1   code      247 non-null    object
 2   name      247 non-null    object
 3   currency  214 non-null    object
dtypes: object(4)
memory usage: 7.8+ KB

In [56]:
df['region'].notnull()

0       True
1       True
2       True
3       True
4       True
       ...
242     True
243    False
244     True
245     True
246     True
Name: region, Length: 247, dtype: bool

In [57]:
data = df.loc[df['region'].notnull()]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 0 to 246
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   region    214 non-null    object
 1   code      214 non-null    object
 2   name      214 non-null    object
 3   currency  214 non-null    object
dtypes: object(4)
memory usage: 8.4+ KB

In [58]:
data = df.dropna(axis=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 0 to 246
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   region    214 non-null    object
 1   code      214 non-null    object
 2   name      214 non-null    object
 3   currency  214 non-null    object
dtypes: object(4)
memory usage: 8.4+ KB

In [59]:
data.head()

                       region code            name        currency
0                  South Asia  AFG     Afghanistan  Afghan afghani
1       Europe & Central Asia  ALB         Albania    Albanian lek
2  Middle East & North Africa  DZA         Algeria  Algerian dinar
3         East Asia & Pacific  ASM  American Samoa     U.S. dollar
4       Europe & Central Asia  ADO         Andorra            Euro

In [60]:
data.sort_values(by=['region'])

,region,code,name,currency
223,East Asia & Pacific,TON,Tonga,Tongan pa'anga
42,East Asia & Pacific,CHN,China,Chinese yuan
53,East Asia & Pacific,PRK,Dem. People's Rep. Korea,Democratic People's Republic of Korean won
229,East Asia & Pacific,TUV,Tuvalu,Australian dollar
73,East Asia & Pacific,FJI,Fiji,Fijian dollar
...,...,...,...,...
134,Sub-Saharan Africa,MDG,Madagascar,Malagasy ariary
124,Sub-Saharan Africa,LBR,Liberia,U.S. dollar
245,Sub-Saharan Africa,ZMB,Zambia,New Zambian kwacha
88,Sub-Saharan Africa,GNB,Guinea-Bissau,West African CFA franc
246,Sub-Saharan Africa,ZWE,Zimbabwe,U.S. dollar

In [81]:
sorted_data = data.sort_values(by=['region', 'code'])
sorted_data.head()

                 region code            name           currency
3   East Asia & Pacific  ASM  American Samoa        U.S. dollar
11  East Asia & Pacific  AUS       Australia  Australian dollar
27  East Asia & Pacific  BRN          Brunei      Brunei dollar
42  East Asia & Pacific  CHN           China       Chinese yuan
73  East Asia & Pacific  FJI            Fiji      Fijian dollar

In [86]:
for _, row_series in sorted_data.iterrows():
    # print(row_label, type(row_series))
    print(row_series.values)
    # print('-'*20)

['East Asia & Pacific' 'ASM' 'American Samoa' 'U.S. dollar']
['East Asia & Pacific' 'AUS' 'Australia' 'Australian dollar']
['East Asia & Pacific' 'BRN' 'Brunei' 'Brunei dollar']
['East Asia & Pacific' 'CHN' 'China' 'Chinese yuan']
['East Asia & Pacific' 'FJI' 'Fiji' 'Fijian dollar']
['East Asia & Pacific' 'FSM' 'Micronesia' 'U.S. dollar']
['East Asia & Pacific' 'GUM' 'Guam' 'U.S. dollar']
['East Asia & Pacific' 'HKG' 'Hong Kong SAR, China' 'Hong Kong dollar']
['East Asia & Pacific' 'IDN' 'Indonesia' 'Indonesian rupiah']
['East Asia & Pacific' 'JPN' 'Japan' 'Japanese yen']
['East Asia & Pacific' 'KHM' 'Cambodia' 'Cambodian riel']
['East Asia & Pacific' 'KIR' 'Kiribati' 'Australian dollar']
['East Asia & Pacific' 'KOR' 'Korea' 'Korean won']
['East Asia & Pacific' 'LAO' 'Lao PDR' 'Lao kip']
['East Asia & Pacific' 'MAC' 'Macao SAR, China' 'Macao pataca']
['East Asia & Pacific' 'MHL' 'Marshall Islands' 'U.S. dollar']
['East Asia & Pacific' 'MMR' 'Myanmar' 'Myanmar kyat']
['East Asia & Pacific' 'MNG' 'Mongolia' 'Mongolian tugrik']
['East Asia & Pacific' 'MNP' 'Northern Mariana Islands' 'U.S. dollar']
['East Asia & Pacific' 'MYS' 'Malaysia' 'Malaysian ringgit']
['East Asia & Pacific' 'NCL' 'New Caledonia' 'CFP franc']
['East Asia & Pacific' 'NZL' 'New Zealand' 'New Zealand dollar']
['East Asia & Pacific' 'PHL' 'Philippines' 'Philippine peso']
['East Asia & Pacific' 'PLW' 'Palau' 'U.S. dollar']
['East Asia & Pacific' 'PNG' 'Papua New Guinea' 'Papua New Guinea kina']
['East Asia & Pacific' 'PRK' "Dem. People's Rep. Korea"
 "Democratic People's Republic of Korean won"]
['East Asia & Pacific' 'PYF' 'French Polynesia' 'CFP franc']
['East Asia & Pacific' 'SGP' 'Singapore' 'Singapore dollar']
['East Asia & Pacific' 'SLB' 'Solomon Islands' 'Solomon Islands dollar']
['East Asia & Pacific' 'THA' 'Thailand' 'Thai baht']
['East Asia & Pacific' 'TMP' 'Timor-Leste' 'U.S. dollar']
['East Asia & Pacific' 'TON' 'Tonga' "Tongan pa'anga"]
['East Asia & Pacific' 'TUV' 'Tuvalu' 'Australian dollar']
['East Asia & Pacific' 'VNM' 'Vietnam' 'Vietnamese dong']
['East Asia & Pacific' 'VUT' 'Vanuatu' 'Vanuatu vatu']
['East Asia & Pacific' 'WSM' 'Samoa' 'Samoan tala']
['Europe & Central Asia' 'ADO' 'Andorra' 'Euro']
['Europe & Central Asia' 'ALB' 'Albania' 'Albanian lek']
['Europe & Central Asia' 'ARM' 'Armenia' 'Armenian dram']
['Europe & Central Asia' 'AUT' 'Austria' 'Euro']
['Europe & Central Asia' 'AZE' 'Azerbaijan' 'New Azeri manat']
['Europe & Central Asia' 'BEL' 'Belgium' 'Euro']
['Europe & Central Asia' 'BGR' 'Bulgaria' 'Bulgarian lev']
['Europe & Central Asia' 'BIH' 'Bosnia and Herzegovina'
 'Bosnia and Herzegovina convertible mark']
['Europe & Central Asia' 'BLR' 'Belarus' 'Belarusian rubel']
['Europe & Central Asia' 'CHE' 'Switzerland' 'Swiss franc']
['Europe & Central Asia' 'CHI' 'Channel Islands' 'Pound sterling']
['Europe & Central Asia' 'CYP' 'Cyprus' 'Euro']
['Europe & Central Asia' 'CZE' 'Czech Republic' 'Czech koruna']
['Europe & Central Asia' 'DEU' 'Germany' 'Euro']
['Europe & Central Asia' 'DNK' 'Denmark' 'Danish krone']
['Europe & Central Asia' 'ESP' 'Spain' 'Euro']
['Europe & Central Asia' 'EST' 'Estonia' 'Euro']
['Europe & Central Asia' 'FIN' 'Finland' 'Euro']
['Europe & Central Asia' 'FRA' 'France' 'Euro']
['Europe & Central Asia' 'FRO' 'Faeroe Islands' 'Danish krone']
['Europe & Central Asia' 'GBR' 'United Kingdom' 'Pound sterling']
['Europe & Central Asia' 'GEO' 'Georgia' 'Georgian lari']
['Europe & Central Asia' 'GRC' 'Greece' 'Euro']
['Europe & Central Asia' 'GRL' 'Greenland' 'Danish krone']
['Europe & Central Asia' 'HRV' 'Croatia' 'Croatian kuna']
['Europe & Central Asia' 'HUN' 'Hungary' 'Hungarian forint']
['Europe & Central Asia' 'IMY' 'Isle of Man' 'Pound sterling']
['Europe & Central Asia' 'IRL' 'Ireland' 'Euro']
['Europe & Central Asia' 'ISL' 'Iceland' 'Iceland krona']
['Europe & Central Asia' 'ITA' 'Italy' 'Euro']
['Europe & Central Asia' 'KAZ' 'Kazakhstan' 'Kazakh tenge']
['Europe & Central Asia' 'KGZ' 'Kyrgyz Republic' 'Kyrgyz som']
['Europe & Central Asia' 'KSV' 'Kosovo' 'Euro']
['Europe & Central Asia' 'LIE' 'Liechtenstein' 'Swiss franc']
['Europe & Central Asia' 'LTU' 'Lithuania' 'Euro']
['Europe & Central Asia' 'LUX' 'Luxembourg' 'Euro']
['Europe & Central Asia' 'LVA' 'Latvia' 'Euro']
['Europe & Central Asia' 'MCO' 'Monaco' 'Euro']
['Europe & Central Asia' 'MDA' 'Moldova' 'Moldovan leu']
['Europe & Central Asia' 'MKD' 'Macedonia' 'Macedonian denar']
['Europe & Central Asia' 'MNE' 'Montenegro' 'Euro']
['Europe & Central Asia' 'NLD' 'Netherlands' 'Euro']
['Europe & Central Asia' 'NOR' 'Norway' 'Norwegian krone']
['Europe & Central Asia' 'POL' 'Poland' 'Polish zloty']
['Europe & Central Asia' 'PRT' 'Portugal' 'Euro']
['Europe & Central Asia' 'ROM' 'Romania' 'New Romanian leu']
['Europe & Central Asia' 'RUS' 'Russia' 'Russian ruble']
['Europe & Central Asia' 'SMR' 'San Marino' 'Euro']
['Europe & Central Asia' 'SRB' 'Serbia' 'New Serbian dinar']
['Europe & Central Asia' 'SVK' 'Slovak Republic' 'Euro']
['Europe & Central Asia' 'SVN' 'Slovenia' 'Euro']
['Europe & Central Asia' 'SWE' 'Sweden' 'Swedish krona']
['Europe & Central Asia' 'TJK' 'Tajikistan' 'Tajik somoni']
['Europe & Central Asia' 'TKM' 'Turkmenistan' 'New Turkmen manat']
['Europe & Central Asia' 'TUR' 'Turkey' 'New Turkish lira']
['Europe & Central Asia' 'UKR' 'Ukraine' 'Ukrainian hryvnia']
['Europe & Central Asia' 'UZB' 'Uzbekistan' 'Uzbek sum']
['Latin America & Caribbean' 'ABW' 'Aruba' 'Aruban florin']
['Latin America & Caribbean' 'ARG' 'Argentina' 'Argentine peso']
['Latin America & Caribbean' 'ATG' 'Antigua and Barbuda'
 'East Caribbean dollar']
['Latin America & Caribbean' 'BHS' 'The Bahamas' 'Bahamian dollar']
['Latin America & Caribbean' 'BLZ' 'Belize' 'Belize dollar']
['Latin America & Caribbean' 'BOL' 'Bolivia' 'Bolivian Boliviano']
['Latin America & Caribbean' 'BRA' 'Brazil' 'Brazilian real']
['Latin America & Caribbean' 'BRB' 'Barbados' 'Barbados dollar']
['Latin America & Caribbean' 'CHL' 'Chile' 'Chilean peso']
['Latin America & Caribbean' 'COL' 'Colombia' 'Colombian peso']
['Latin America & Caribbean' 'CRI' 'Costa Rica' 'Costa Rican colon']
['Latin America & Caribbean' 'CUB' 'Cuba' 'Cuban peso']
['Latin America & Caribbean' 'CUW' 'Curaçao'
 'Netherlands Antillean guilder']
['Latin America & Caribbean' 'CYM' 'Cayman Islands'
 'Cayman Islands dollar']
['Latin America & Caribbean' 'DMA' 'Dominica' 'East Caribbean dollar']
['Latin America & Caribbean' 'DOM' 'Dominican Republic' 'Dominican peso']
['Latin America & Caribbean' 'ECU' 'Ecuador' 'U.S. dollar']
['Latin America & Caribbean' 'GRD' 'Grenada' 'East Caribbean dollar']
['Latin America & Caribbean' 'GTM' 'Guatemala' 'Guatemalan quetzal']
['Latin America & Caribbean' 'GUY' 'Guyana' 'Guyana dollar']
['Latin America & Caribbean' 'HND' 'Honduras' 'Honduran lempira']
['Latin America & Caribbean' 'HTI' 'Haiti' 'Haitian gourde']
['Latin America & Caribbean' 'JAM' 'Jamaica' 'Jamaican dollar']
['Latin America & Caribbean' 'KNA' 'St. Kitts and Nevis'
 'East Caribbean dollar']
['Latin America & Caribbean' 'LCA' 'St. Lucia' 'East Caribbean dollar']
['Latin America & Caribbean' 'MAF' 'St. Martin (French part)' 'Euro']
['Latin America & Caribbean' 'MEX' 'Mexico' 'Mexican peso']
['Latin America & Caribbean' 'NIC' 'Nicaragua' 'Nicaraguan gold cordoba']
['Latin America & Caribbean' 'PAN' 'Panama' 'Panamanian balboa']
['Latin America & Caribbean' 'PER' 'Peru' 'Peruvian new sol']
['Latin America & Caribbean' 'PRI' 'Puerto Rico' 'U.S. dollar']
['Latin America & Caribbean' 'PRY' 'Paraguay' 'Paraguayan guarani']
['Latin America & Caribbean' 'SLV' 'El Salvador' 'U.S. dollar']
['Latin America & Caribbean' 'SUR' 'Suriname' 'Suriname dollar']
['Latin America & Caribbean' 'SXM' 'Sint Maarten (Dutch part)'
 'Netherlands Antillean guilder']
['Latin America & Caribbean' 'TCA' 'Turks and Caicos Islands'
 'U.S. dollar']
['Latin America & Caribbean' 'TTO' 'Trinidad and Tobago'
 'Trinidad and Tobago dollar']
['Latin America & Caribbean' 'URY' 'Uruguay' 'Uruguayan peso']
['Latin America & Caribbean' 'VCT' 'St. Vincent and the Grenadines'
 'East Caribbean dollar']
['Latin America & Caribbean' 'VEN' 'Venezuela' 'Venezuelan bolivar fuerte']
['Latin America & Caribbean' 'VIR' 'Virgin Islands' 'U.S. dollar']
['Middle East & North Africa' 'ARE' 'United Arab Emirates' 'U.A.E. dirham']
['Middle East & North Africa' 'BHR' 'Bahrain' 'Bahraini dinar']
['Middle East & North Africa' 'DJI' 'Djibouti' 'Djibouti franc']
['Middle East & North Africa' 'DZA' 'Algeria' 'Algerian dinar']
['Middle East & North Africa' 'EGY' 'Egypt' 'Egyptian pound']
['Middle East & North Africa' 'IRN' 'Iran' 'Iranian rial']
['Middle East & North Africa' 'IRQ' 'Iraq' 'Iraqi dinar']
['Middle East & North Africa' 'ISR' 'Israel' 'Israeli new shekel']
['Middle East & North Africa' 'JOR' 'Jordan' 'Jordanian dinar']
['Middle East & North Africa' 'KWT' 'Kuwait' 'Kuwaiti dinar']
['Middle East & North Africa' 'LBN' 'Lebanon' 'Lebanese pound']
['Middle East & North Africa' 'LBY' 'Libya' 'Libyan dinar']
['Middle East & North Africa' 'MAR' 'Morocco' 'Moroccan dirham']
['Middle East & North Africa' 'MLT' 'Malta' 'Euro']
['Middle East & North Africa' 'OMN' 'Oman' 'Rial Omani']
['Middle East & North Africa' 'QAT' 'Qatar' 'Qatari riyal']
['Middle East & North Africa' 'SAU' 'Saudi Arabia' 'Saudi Arabian riyal']
['Middle East & North Africa' 'SYR' 'Syrian Arab Republic' 'Syrian pound']
['Middle East & North Africa' 'TUN' 'Tunisia' 'Tunisian dinar']
['Middle East & North Africa' 'WBG' 'West Bank and Gaza'
 'Israeli new shekel']
['Middle East & North Africa' 'YEM' 'Yemen' 'Yemeni rial']
['North America' 'BMU' 'Bermuda' 'Bermuda dollar']
['North America' 'CAN' 'Canada' 'Canadian dollar']
['North America' 'USA' 'United States' 'U.S. dollar']
['South Asia' 'AFG' 'Afghanistan' 'Afghan afghani']
['South Asia' 'BGD' 'Bangladesh' 'Bangladeshi taka']
['South Asia' 'BTN' 'Bhutan' 'Bhutanese ngultrum']
['South Asia' 'IND' 'India' 'Indian rupee']
['South Asia' 'LKA' 'Sri Lanka' 'Sri Lankan rupee']
['South Asia' 'MDV' 'Maldives' 'Maldivian rufiyaa']
['South Asia' 'NPL' 'Nepal' 'Nepalese rupee']
['South Asia' 'PAK' 'Pakistan' 'Pakistani rupee']
['Sub-Saharan Africa' 'AGO' 'Angola' 'Angolan kwanza']
['Sub-Saharan Africa' 'BDI' 'Burundi' 'Burundi franc']
['Sub-Saharan Africa' 'BEN' 'Benin' 'West African CFA franc']
['Sub-Saharan Africa' 'BFA' 'Burkina Faso' 'West African CFA franc']
['Sub-Saharan Africa' 'BWA' 'Botswana' 'Botswana pula']
['Sub-Saharan Africa' 'CAF' 'Central African Republic'
 'Central African CFA franc']
['Sub-Saharan Africa' 'CIV' "Côte d'Ivoire" 'West African CFA franc']
['Sub-Saharan Africa' 'CMR' 'Cameroon' 'Central African CFA franc']
['Sub-Saharan Africa' 'COG' 'Congo' 'Central African CFA franc']
['Sub-Saharan Africa' 'COM' 'Comoros' 'Comorian franc']
['Sub-Saharan Africa' 'CPV' 'Cabo Verde' 'Cabo Verde escudo']
['Sub-Saharan Africa' 'ERI' 'Eritrea' 'Eritrean nakfa']
['Sub-Saharan Africa' 'ETH' 'Ethiopia' 'Ethiopian birr']
['Sub-Saharan Africa' 'GAB' 'Gabon' 'Central African CFA franc']
['Sub-Saharan Africa' 'GHA' 'Ghana' 'New Ghanaian cedi']
['Sub-Saharan Africa' 'GIN' 'Guinea' 'Guinean franc']
['Sub-Saharan Africa' 'GMB' 'The Gambia' 'Gambian dalasi']
['Sub-Saharan Africa' 'GNB' 'Guinea-Bissau' 'West African CFA franc']
['Sub-Saharan Africa' 'GNQ' 'Equatorial Guinea'
 'Central African CFA franc']
['Sub-Saharan Africa' 'KEN' 'Kenya' 'Kenyan shilling']
['Sub-Saharan Africa' 'LBR' 'Liberia' 'U.S. dollar']
['Sub-Saharan Africa' 'LSO' 'Lesotho' 'Lesotho loti']
['Sub-Saharan Africa' 'MDG' 'Madagascar' 'Malagasy ariary']
['Sub-Saharan Africa' 'MLI' 'Mali' 'West African CFA franc']
['Sub-Saharan Africa' 'MOZ' 'Mozambique' 'New Mozambican metical']
['Sub-Saharan Africa' 'MRT' 'Mauritania' 'Mauritanian ouguiya']
['Sub-Saharan Africa' 'MUS' 'Mauritius' 'Mauritian rupee']
['Sub-Saharan Africa' 'MWI' 'Malawi' 'Malawi kwacha']
['Sub-Saharan Africa' 'NAM' 'Namibia' 'Namibian dollar']
['Sub-Saharan Africa' 'NER' 'Niger' 'West African CFA franc']
['Sub-Saharan Africa' 'NGA' 'Nigeria' 'Nigerian naira']
['Sub-Saharan Africa' 'RWA' 'Rwanda' 'Rwandan franc']
['Sub-Saharan Africa' 'SDN' 'Sudan' 'Sudanese pound']
['Sub-Saharan Africa' 'SEN' 'Senegal' 'West African CFA franc']
['Sub-Saharan Africa' 'SLE' 'Sierra Leone' 'Sierra Leonean leone']
['Sub-Saharan Africa' 'SOM' 'Somalia' 'Somali shilling']
['Sub-Saharan Africa' 'SSD' 'South Sudan' 'South Sudanese Pound']
['Sub-Saharan Africa' 'STP' 'São Tomé and Principe'
 'São Tomé and Principe dobra']
['Sub-Saharan Africa' 'SWZ' 'Swaziland' 'Swaziland lilangeni']
['Sub-Saharan Africa' 'SYC' 'Seychelles' 'Seychelles rupee']
['Sub-Saharan Africa' 'TCD' 'Chad' 'Central African CFA franc']
['Sub-Saharan Africa' 'TGO' 'Togo' 'West African CFA franc']
['Sub-Saharan Africa' 'TZA' 'Tanzania' 'Tanzanian shilling']
['Sub-Saharan Africa' 'UGA' 'Uganda' 'Ugandan shilling']
['Sub-Saharan Africa' 'ZAF' 'South Africa' 'South African rand']
['Sub-Saharan Africa' 'ZAR' 'Dem. Rep. Congo' 'Congolese franc']
['Sub-Saharan Africa' 'ZMB' 'Zambia' 'New Zambian kwacha']
['Sub-Saharan Africa' 'ZWE' 'Zimbabwe' 'U.S. dollar']